.grid-title {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  box-sizing: border-box;
  line-height: 1.375;
  word-wrap: break-word;
  word-break: break-word;
  text-overflow: ellipsis;
  text-decoration: none;
  overflow: hidden;
  max-height: 2.8em;
  -webkit-line-clamp: 2;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: normal;
  font-family: inherit;
  text-decoration: none;
  -webkit-text-size-adjust: none;
  -ms-interpolation-mode: bicubic;
}

@media not print .bg-darkorange {
  background-color: #cc4100;
  border-color: transparent;
  color: #fff;
}
