#root {
  min-height: 100%;
  height: 100%;
  position: relative;
}
html {
  scroll-behavior: smooth;
  max-width: 100vw;
}
html,
body {
  direction: rtl;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
body {
  overflow: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  outline: none;
}

a {
  color: unset;
  text-decoration: none;
}
